<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ task.title }}</title>
    </head>
    <body>
        <main>
            <div>
                <a href="{% url 'create_project' project.id %}">Create a new project</a>
                <a href="{% url 'create_task' task.id %}">Create a new task</a>
                <h1>{{ task.id }}</h1>
                <p>{{ task.description }}</p>
                <h2>Tasks</h2>
                {% for project in task %}
                    <table>
                        <thead>
                            <tr>
                                <th>{{ project.name }}</th>
                                <th>{{ project.assignee }}</th>
                                <th>{{ project.start_date }}</th>
                                <th>{{ project.due_date }}</th>
                                <th>{{ project.is_completed|yesno }}</th>
                            </tr>
                        </thead>
                    </table>
                {% empty %}
                    <p>This project has no tasks</p>
                {% endfor %}
            </div>
        </main>
    </body>
</html>
