<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <p>You are not assigned to any projects</p>
                <h1>My Projects</h1>
                <nav>
                    <p>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                </nav>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_lists.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% empty %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
